@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Alumni Sans SC", sans-serif;
  user-select: none;
}

header{
    width:100vw;
    height: 10%;
    z-index: 10000;
    position:absolute;
    background-color: rgba(255, 193, 6, 0.4);
    /* background-color: rgba(250, 249, 246, 0.4); */
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(224, 251, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar{
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  list-style: none;
}

.links{
  font-size:2rem;
  font-weight: 600;
  color: #c776fd;
  text-decoration: none;
  transition:color 1s ease-in-out, text-transform 5s;
}

.links:hover {
  color: #f5a623;
  text-transform: uppercase;
}


.links:active {
  color: #f5a623;
  transition: s;
}

h1 {
  font-size: 6rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

p{
    width:50%;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 1rem;
}
